@page "/"

<div class="title-section">
    <h1>Rce2</h1>
</div>

<div class="tiles-container">
    <button class="tile-button">
        <div class="tile-content">
            <h3>foo</h3>
            <p>bar</p>
        </div>
    </button>
</div>

@code {
}
