.container-max-width {
    max-width: 10000px;
}

.agent-id {
    font-size: 12px;
    color: grey;
    margin-top: -5px;
}

.agent-min-width {
    min-width: 350px;
}

.larger {
    font-size: larger;
}

.not-black {
    color: rgba(0, 0, 0, 0.7);
}

.btn-small {
    padding: 0px 6px;
}

.drag-source {
    cursor: grab;
    user-select: none;
}

    .drag-source:active {
        cursor: grabbing;
    }
