@if (AppDataContext.AuthorizationFailure)
{
    <div class="alert alert-danger">Wrong Code</div>
}

@code {
    [CascadingParameter]
    public AppDataContext AppDataContext { get; set; }

    [Parameter]
    public Action BlazorSux { get; set; }
}
