@using Broker.Shared.Model

<h1>Data Flow</h1>
<table class="table table-hover">
    <tbody>
        @foreach (var data in DataFlow)
       {
            <tr class="table-light">
                <td>@data</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<string> DataFlow { get; set; }
}
