@page "/"
@using Broker.Shared
@using System.Net.Http.Headers
@using System.Net
@using Broker.Shared.Events
@using Broker.Shared.Model
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<PageTitle>Rce2 Message Broker</PageTitle>

@if (string.IsNullOrWhiteSpace(_code))
{
    <div class="p-4 vh-90">
        <div class="d-flex flex-column flex-grow-1 h-100 justify-content-center">
            <div class="mx-auto">
                <input @bind="_codeInput" @onkeyup="OnCode" type="text" placeholder="Code">
            </div>
        </div>
    </div>
}
else
{
    <div class="p-4">
        <div><Authorization AuthorizationFailure=AuthorizationFailure /></div>
        <div><AgentList Agents="Agents" /></div>
        <div class="mt-5"><BindingList Agents="Agents" Bindings="Bindings" /></div>
        <div class="mt-5"><OutputList Outputs="Outputs" /></div>
    </div>
}

@code {
    private string _code;
    private string _codeInput;

    public bool AuthorizationFailure { get; set; }
    public List<Agent> Agents { get; set; }
    public List<Binding> Bindings { get; set; }
    public List<string> Outputs { get; set; }

    public void OnCode(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            _code = _codeInput;
            Task.Run(GetFeed);
        }

        Outputs = new()
        {
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
            "HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(, _code);",
        };
    }

    private async Task GetFeed()
    {
        var id = Guid.NewGuid();
        HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Code", _code);

        while(true)
        {
            try
            {
                var response = await HttpClient.GetAsync($"/api/broker/{id}");
                if (IsValid(response) == false)
                {
                    await Task.Delay(5000);
                    continue;
                }
                await HandleFeed(response);
            }
            catch (Exception e)
            {
                await Task.Delay(5000);
            }
        }
    }

    private bool IsValid(HttpResponseMessage response)
    {
        if (response.IsSuccessStatusCode == false)
        {
            if (response.StatusCode == HttpStatusCode.Unauthorized)
            {
                AuthorizationFailure = true;
                StateHasChanged();
            }
            return false;
        }
        return true;
    }

    private async Task HandleFeed(HttpResponseMessage response)
    {
        var brokerEvents = JsonConvert.DeserializeObject<List<JObject>>(await response.Content.ReadAsStringAsync());
        foreach (var brokerEvent in brokerEvents)
        {
            var brokerEventBase = brokerEvent.ToObject<BrokerEventBase>();
            switch (brokerEventBase.BrokerEventType)
            {
                case nameof(BrokerInitEvent):
                    Handle(brokerEvent.ToObject<BrokerInitEvent>());
                    break;
            }
        }
        StateHasChanged();
    }

    private void Handle(BrokerInitEvent brokerInitEvent)
    {
        Agents = brokerInitEvent.Agents;
        Bindings = brokerInitEvent.Bindings;
    }
}
