@page "/"
@using Broker.Client.Infrastructure
@using Broker.Shared
@using System.Net.Http.Headers
@using System.Net
@using Broker.Shared.Events
@using Broker.Shared.Model
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject AuthorizedHttpClientFactory AuthorizedHttpClientFactory

<PageTitle>Rce2 Message Broker</PageTitle>

@if (string.IsNullOrWhiteSpace(_code))
{
    <div class="p-4 vh-90">
        <div class="d-flex flex-column flex-grow-1 h-100 justify-content-center">
            <div class="mx-auto">
                <form @onsubmit="OnCode">
                    <input @bind="_codeInput" type="password" placeholder="Code">
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="p-4">
        <div><Authorization AuthorizationFailure=AuthorizationFailure /></div>
        <div><AgentList Agents="Agents" /></div>
        <div class="mt-5"><BindingList Agents="Agents" Bindings="Bindings" /></div>
        <div class="mt-5"><DataFlowList DataFlow="DataFlow" /></div>
    </div>
}

@code {
    private const int InactivityDelay = 3;
    private const int AntiFloodDelay = 5000;
    private const int DataFlowLength = 100;

    private string _code;
    private string _codeInput;

    public bool AuthorizationFailure { get; set; }
    public List<Agent> Agents { get; set; } = new();
    public List<Binding> Bindings { get; set; } = new();
    public List<string> DataFlow { get; set; } = new();

    public void OnCode(EventArgs e)
    {
        _code = _codeInput;
        Task.Run(GetFeed);
    }

    private async Task GetFeed()
    {
        var id = Guid.NewGuid();
        AuthorizedHttpClientFactory.Authorize(_code);
        var lastFeed = DateTime.UtcNow;

        while(true)
        {
            try
            {
                if ((DateTime.UtcNow - lastFeed) > TimeSpan.FromMinutes(InactivityDelay))
                {
                    NavigationManager.NavigateTo(NavigationManager.Uri, true);
                    break;
                }
                lastFeed = DateTime.UtcNow;

                var response = await AuthorizedHttpClientFactory.CreateClient("Default").GetAsync($"/api/broker/{id}");
                if (IsValid(response) == false)
                {
                    await Task.Delay(AntiFloodDelay);
                    continue;
                }
                await HandleFeed(response);
            }
            catch (Exception e)
            {
                await Task.Delay(AntiFloodDelay);
            }
        }
    }

    private bool IsValid(HttpResponseMessage response)
    {
        if (response.IsSuccessStatusCode == false)
        {
            if (response.StatusCode == HttpStatusCode.Unauthorized)
            {
                AuthorizationFailure = true;
                StateHasChanged();
            }
            return false;
        }
        return true;
    }

    private async Task HandleFeed(HttpResponseMessage response)
    {
        var brokerEvents = JsonConvert.DeserializeObject<List<JObject>>(await response.Content.ReadAsStringAsync());
        foreach (var brokerEvent in brokerEvents)
        {
            var brokerEventBase = brokerEvent.ToObject<BrokerEventBase>();
            switch (brokerEventBase.BrokerEventType)
            {
                case nameof(AgentUpdatedEvent):
                    Handle(brokerEvent.ToObject<AgentUpdatedEvent>());
                    break;

                case nameof(AgentInputReceivedEvent):
                    Handle(brokerEvent.ToObject<AgentInputReceivedEvent>());
                    break;

                case nameof(AgentSimulatedInputEvent):
                    Handle(brokerEvent.ToObject<AgentSimulatedInputEvent>());
                    break;

                case nameof(AgentOutputReceivedEvent):
                    Handle(brokerEvent.ToObject<AgentOutputReceivedEvent>());
                    break;

                case nameof(AgentSimulatedOutputEvent):
                    Handle(brokerEvent.ToObject<AgentSimulatedOutputEvent>());
                    break;

                case nameof(AgentDeletedEvent):
                    Handle(brokerEvent.ToObject<AgentDeletedEvent>());
                    break;

                case nameof(BindingAddedEvent):
                    Handle(brokerEvent.ToObject<BindingAddedEvent>());
                    break;

                case nameof(BindingUpdatedEvent):
                    Handle(brokerEvent.ToObject<BindingUpdatedEvent>());
                    break;

                case nameof(BindingDeletedEvent):
                    Handle(brokerEvent.ToObject<BindingDeletedEvent>());
                    break;
            }
        }
        StateHasChanged();
    }

    private void Handle(AgentUpdatedEvent agentUpdatedEvent)
    {
        var agent = Agents?.FirstOrDefault(e => e.Id == agentUpdatedEvent.Agent.Id);
        if (agent != null)
        {
            Agents?.Remove(agent);
        }
        Agents?.Add(agentUpdatedEvent.Agent);
    }

    private void Handle(AgentInputReceivedEvent agentInputReceivedEvent)
    {
        DataFlow.Insert(0, $"[{agentInputReceivedEvent.TimestampUtc.ToLocalTime().ToString("G")}] [Input] {agentInputReceivedEvent.AgentId} - {agentInputReceivedEvent.Contact} -  {agentInputReceivedEvent.Payload}");
        DataFlow = DataFlow.Take(DataFlowLength).ToList();
    }

    private void Handle(AgentSimulatedInputEvent agentSimulatedInputEvent)
    {
        DataFlow.Insert(0, $"[{agentSimulatedInputEvent.TimestampUtc.ToLocalTime().ToString("G")}] [Simulated input] {agentSimulatedInputEvent.AgentId} - {agentSimulatedInputEvent.Contact} -  {agentSimulatedInputEvent.Payload}");
        DataFlow = DataFlow.Take(DataFlowLength).ToList();
    }

    private void Handle(AgentOutputReceivedEvent agentOutputReceivedEvent)
    {
        DataFlow.Insert(0, $"[{agentOutputReceivedEvent.TimestampUtc.ToLocalTime().ToString("G")}] [Output] {agentOutputReceivedEvent.AgentId} - {agentOutputReceivedEvent.Contact} -  {agentOutputReceivedEvent.Payload}");
        DataFlow = DataFlow.Take(DataFlowLength).ToList();

        var agent = Agents.FirstOrDefault(e => e.Id == agentOutputReceivedEvent.AgentId);
        if (agent != null)
        {
            agent.LastOut = $"{agentOutputReceivedEvent.Contact} - {agentOutputReceivedEvent.Payload}";
        }
    }

    private void Handle(AgentSimulatedOutputEvent agentSimulatedOutputEvent)
    {
        DataFlow.Insert(0, $"[{agentSimulatedOutputEvent.TimestampUtc.ToLocalTime().ToString("G")}] [Simulated output] {agentSimulatedOutputEvent.AgentId} - {agentSimulatedOutputEvent.Contact} -  {agentSimulatedOutputEvent.Payload}");
        DataFlow = DataFlow.Take(DataFlowLength).ToList();
    }

    private void Handle(AgentDeletedEvent agentDeletedEvent)
    {
        var agent = Agents.FirstOrDefault(e => e.Id == agentDeletedEvent.Id);
        if (agent != null)
        {
            Agents.Remove(agent);
        }
    }

    private void Handle(BindingAddedEvent bindingAddedEvent)
    {
        var binding = Bindings.FirstOrDefault(e => e.Equals(bindingAddedEvent.Binding));
        if (binding != null)
        {
            Bindings.Remove(binding);
        }
        Bindings.Add(bindingAddedEvent.Binding);
    }

    private void Handle(BindingUpdatedEvent bindingUpdatedEvent)
    {
        var binding = Bindings.FirstOrDefault(e => e.Equals(bindingUpdatedEvent.Binding));
        if (binding == null)
        {
            return;
        }
        binding.OutName = bindingUpdatedEvent.Binding.OutName;
        binding.InName = bindingUpdatedEvent.Binding.InName;
        binding.IsActive = bindingUpdatedEvent.Binding.IsActive;
    }

    private void Handle(BindingDeletedEvent bindingDeletedEvent)
    {
        Bindings.Remove(bindingDeletedEvent.Binding);
    }
}
