@page "/"
@using Broker.Shared
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject HttpClient Http

<PageTitle>Rce2 Message Broker</PageTitle>

<div class="p-4 vh-90">
    @if (string.IsNullOrWhiteSpace(AppData.Code) == false)
    {
        <Authorization />
        <div class="d-flex flex-column h-100">
            <div class="d-flex flex-grow-1 align-items-center">
                <div class="card border-primary admin-max-width mx-auto">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex flex-column flex-grow-1 h-100 justify-content-center">
            <div class="mx-auto">
                <input @bind="_codeInput" @onkeyup="OnCode" type="text" placeholder="Code">
            </div>
        </div>
    }
</div>

@code {
    private string _codeInput;

    [CascadingParameter]
    public AppData AppData { get; set; }

    public void OnCode(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            AppData.Code = _codeInput;
        }
    }
}
