@page "/"

<div class="view-wrapper">
    <nav class="navbar navbar-expand-lg m-3">
        <div class="container-fluid d-flex align-items-center px-3">
            <div class="d-flex">
                <div class="me-2">
                    <h1 class="display-3 my-1 ps-1">rce2</h1>
                </div>
                <div class="alive"></div>
            </div>
            @if (SubPage != "")
            {
                <span class="back-link" @onclick="OnBack">&lt;&lt;&lt;</span>
            }
        </div>
    </nav>

    <div class="m-3 content">
        @if (SubPage == "")
        {
            <MainMenu OnClickCard="OnClickCard" />
        }
        else if (SubPage == "youtube")
        {
            <Youtube />
        }
        else if (SubPage == "sendit")
        {
            <SendIt />
        }
    </div>
</div>

@code {
    private string SubPage = "";

    private void OnBack(MouseEventArgs args)
    {
        SubPage = "";
    }

    private void OnClickCard(string card)
    {
        SubPage = card;
    }
}
