@page "/"

<nav class="navbar navbar-expand-lg m-3">
    <div class="container-fluid d-flex align-items-center px-3">
        <div class="d-flex">
            <div class="me-2">
                <h1 class="display-3 my-1 ps-1">rce2</h1>
            </div>
            <div class="alive"></div>
        </div>
        <div class="ms-auto bg-danger text-white p-2">Back button placeholder</div>
    </div>
</nav>

<div class="m-3" style="display:flex; flex-wrap:wrap; justify-content:center; gap:20px;">
    <div class="card border-light" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Light card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-light" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Light card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-light" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Light card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-light" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Light card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-light" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Light card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-light" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Light card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-light" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Light card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-light" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Light card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

@code {
}
