.clickable-card {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

    .clickable-card:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
