<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
    <div class="sendit-component d-flex flex-column p-4">
        <div class="control-block w-100 mb-4">
            <textarea class="form-control big-textarea mb-3" placeholder="Enter text…"></textarea>
            <button class="btn btn-primary btn-lg big-button w-100">
                Send
            </button>
        </div>
        <div class="bottom-section p-3">
            <p>Example output text...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
        </div>
    </div>
</div>

@code {
}
