@page "/sendit"

<div class="sendit-wrapper">
    <div class="sendit-container">
        <textarea class="sendit-input"
                  placeholder="Enter message..."
                  @bind="Message">
        </textarea>
        <button class="btn btn-outline-primary sendit-btn" @onclick="Send">
            Send
        </button>
        <div class="sendit-output">
            @foreach (var debugLine in DebugLines)
            {
                <div>@debugLine</div>
            }
        </div>
    </div>
</div>

@code {
    private string Message = "";
    private List<string> DebugLines = new();

    private void Send()
    {
        if (string.IsNullOrWhiteSpace(Message) == false)
        {
            DebugLines.Add($"> {Message}");
            Message = "";
        }
    }
}
