<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
    <div class="sendit-component d-flex flex-column p-4">
        <div class="control-block w-100 mb-4">
            <select class="form-select big-select mb-3">
                <option value="">Select type</option>
                <option>Void</option>
                <option>String</option>
                <option>StringList</option>
                <option>Number</option>
                <option>NumberList</option>
                <option>Bool</option>
                <option>BoolList</option>
                <option>Custom</option>
            </select>
            <textarea class="form-control big-textarea mb-3" placeholder="Enter text…"></textarea>
            <button class="btn btn-primary btn-lg big-button w-100">
                Send
            </button>
        </div>
        <div class="bottom-section p-3">
            <p>Example output text...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
            <p>More lines...</p>
        </div>
    </div>
</div>

@code {
}
