<div class="media-controls-wrapper px-5">
    <div class="media-controls">
        <button class="btn btn-outline-primary mc-btn" @onclick="BackwardFast">«</button>
        <button class="btn btn-outline-primary mc-btn" @onclick="Backward">‹</button>
        <button class="btn btn-outline-primary mc-btn" @onclick="PlayPause">⏯</button>
        <button class="btn btn-outline-primary mc-btn" @onclick="Forward">›</button>
        <button class="btn btn-outline-primary mc-btn" @onclick="ForwardFast">»</button>
    </div>
</div>

@code {
    void BackwardFast() => Console.WriteLine("<<");
    void Backward() => Console.WriteLine("<");
    void PlayPause() => Console.WriteLine("Play/Pause");
    void Forward() => Console.WriteLine(">");
    void ForwardFast() => Console.WriteLine(">>");
}
